@model Inventory.Models.POMain
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "POMain", FormMethod.Post, new
{
    enctype = "multipart/form-data",
    @class = "form-horizontal",
    data_bv_message = "This value is not valid",
    data_toggle = "validator",
    data_bv_feedbackicons_valid = "glyphicon glyphicon-ok",
    data_bv_feedbackicons_invalid = "glyphicon glyphicon-remove",
    data_bv_feedbackicons_validating = "glyphicon glyphicon-refresh"
}))
{
    @Html.AntiForgeryToken()

    <input type="hidden" id="isIGST" name="isIGST" value="0" />
    <input type="hidden" id="Count" name="Count" value="1" />
    <input type="hidden" id="VenderId" name="VenderId" value="0" />
    <input type="hidden" id="ProductId" name="ProductId" value="" />
    <input type="hidden" id="DiscountIn" name="DiscountIn" value="" />
    <input type="hidden" id="igst" name="igst" value=0 />
    <input type="hidden" id="cgst" name="cgst" value=0 />
    <input type="hidden" id="sgst" name="sgst" value=0 />
    <input type="hidden" id="disc" name="disc" value=0 />
    <input type="hidden" id="WarehouseId" name="WarehouseId" value=0 />
    <input type="hidden" id="hsncode" name="hsncode" value=0 />
    <input type="hidden" id="ActiveBarcode" name="ActiveBarcode" value=false />
    <head>
        <style>
            input:checked {
                height: 25px;
                width: 25px;
            }

            .ScrollStyle {
                max-height: 250px;
                overflow-y: scroll;
            }
        </style>
    </head>
    <div class="box box-info">
        <div class="box-header with-border" style="background-color:#3c8dbc; color:white">
            <h3 class="box-title">New Purchase Order</h3>
            <div class="box-tools pull-right">
            </div>
        </div>
        <div class="box-body">
           @*BarCode Applicable <input type="checkbox" id="BarcodeApplicable">*@
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.PurchaseOrderNo, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.PurchaseOrderNo, new { htmlAttributes = new { @class = "form-control", Autocomplete = "off", data_bv_notempty = "true", @disabled = "disabled", maxlength = "20" } })
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.SupplierID, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-6">
                            @Html.EJ().Autocomplete("Supplier").WatermarkText("Select Supplier").Datasource((IEnumerable<Inventory.Models.Suppliers>)ViewBag.datasource).Width("100%").AutocompleteFields(field => field.Key("SupplierID").Text("SupplierName")).HighlightSearch(true).ShowPopupButton(true).Width("100%").ClientSideEvents(e => e.Select("getProducts").FocusOut("isIGST"))
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.LabelFor(Model => Model.PurchaseOrderDate, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="PurchaseOrderDate" name="PurchaseOrderDate" required class="form-control" style="width:100%" autocomplete="off" data_bv_notempty="true" data_bv_notempty_message="Purchase Order Date is required and cannot be empty" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.LabelFor(Model => Model.ExpectedDeliveryDate, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="ExpectedDeliveryDate" name="ExpectedDeliveryDate" required class="form-control" style="width:100%" autocomplete="off" data_bv_notempty="true" data_bv_notempty_message="Expected Delivery Date is required and cannot be empty" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-12">
                        <div class="form-group">
                            <panel id="pnlWarehouse" name="pnlWarehouse">
                                <div class="col-md-4">
                                    @Html.LabelFor(Model => Model.WarehouseId, htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="col-md-6">
                                    @Html.EJ().Autocomplete("Warehouse").WatermarkText("Select Warehouse").Datasource((IEnumerable<Inventory.Models.Warehouse>)ViewBag.Warehousedatasource).Width("100%").AutocompleteFields(field => field.Key("WareHouseID").Text("WareHouseName")).HighlightSearch(true).ShowPopupButton(true).ClientSideEvents(e => e.Select("getWarehouseId"))
                                </div>
                            </panel>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12">
                        <div class="form-group">

                            <panel id="pnlBarcode" name="pnlBarcode">
                                <div class="col-md-4">
                                    BarCode Applicable
                                </div>
                                <div class="col-md-6">
                                  
                                        @Html.CheckBox("BarcodeApplicable", new { htmlAttributes = new { onclick = "ApplicableBarcode()" } })
                                    
                                    </div>
                            </panel>
                        </div>
                    </div>

                </div>
            </div>
            <div id="orderItems" style="overflow-x: auto;">
                <table class="table table-responsive" style="width: 100%; overflow-x:auto; white-space:nowrap;">
                    <tr style="background-color:#3c8dbc; color:white">
                        <td>ITEM DETAILS</td>
                        <td>QUANTITY</td>
                        <td>TAX</td>
                        <td>RATE</td>
                        <td>DISCOUNT</td>
                        <td>DISC IN</td>
                        <td>AMOUNT</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="mycontainer" id="mainrow">
                        <td>
                            <div class="panel" id="P1">
                                @Html.EJ().Autocomplete("ProductCode").Width("100%").ShowPopupButton(true).AutocompleteFields(field => field.Text("ProductName").Key("ProductCode")).ClientSideEvents(e => e.Select("getProductData"))
                            </div>
                            <div class="panel" id="P2">
                                <input type="text" id="PRDCode" class="PRDCode form-control" onchange="getProductData(this)">
                            </div>
                        </td>

                        <td>
                            <input type="text" id="OrderQty" class="OrderQty form-control" onkeypress="return event.charCode >= 46 && event.charCode <= 57 && event.charCode != 47" onchange="CalculateAmount()"/>
                        </td>
                        <td>
                            <input type="text" id="Tax" class="Tax form-control" disabled onkeypress="return event.charCode >= 46 && event.charCode <= 57 && event.charCode != 47"   onchange="CalculateAmount()"/>
                        </td>
                        <td>
                            <input type="text" id="Price" class="Price form-control"  onkeypress="return event.charCode >= 46 && event.charCode <= 57 && event.charCode!=47"  onchange="CalculateAmount()"/>
                        </td>
                        <td>
                            <input type="text" id="Discount" class="Discount form-control"  onkeypress="return event.charCode >= 46 && event.charCode <= 57 && event.charCode != 47"  onchange="CalculateAmount()"/>
                        </td>
                        <td>
                            <select name="discIn" id="discIn" class="discIn form-control" disabled>
                                <option value="Select">Select</option>
                                <option value="Rupee">Rupee</option>
                                <option value="Percentage">Percentage</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" id="Amount" class="Amount form-control" disabled onkeypress="return event.charCode >= 46 && event.charCode <= 57 && event.charCode != 47" />
                        </td>
                        <td>
                            <input type="button" id="add" value="add" style="width:80px" class="btn btn-success"   />
                        </td>
                    </tr>
                </table>
                <div class="ScrollStyle">
                    <table class="table table-responsive" id="orderdetailsItems" style="width: 100%; overflow-x:auto; white-space:nowrap;"></table>
                </div>
            </div>
            <div class="row" style="width: 100%;">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-12">
                            @if (ViewBag.TermsAndConditions != null )
                            {
                            <label for="TermsAndConditions"> Terms And Conditions</label>
                            <textarea id="TermsAndConditions" name="TermsAndConditions" maxlength="490" placeholder="Terms And Conditions" rows="3" cols="85">@ViewBag.TermsAndConditions</textarea>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-12">
                            <br />
                            <div class="row" style="text-align:right;">
                                <div class="col-md-7">
                                    <label for="Total"> Total</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="text" id="txtTotal" name="txtTotal" style='width:120px; background-color:white' readonly class="totalNew form-control">
                                </div>
                            </div>
                            <div class="row" style="text-align:right;">
                                <div class="col-md-7">
                                    <label for="Discount"> Discount</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="text" id="txtdiscount" name="txtdiscount" style='width:120px; background-color:white' class="txtdiscount form-control" readonly>
                                </div>
                            </div>
                            <div class="row" style="text-align:right;">
                                <div class="col-md-7">
                                    <label for="IGST"> IGST</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="text" id="txtIGST" name="txtIGST" style='width:120px; background-color:white' class="totalNew form-control" readonly>
                                </div>
                            </div>
                            <div class="row" style="text-align:right;">
                                <div class="col-md-7">
                                    <label for="CGST"> CGST</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="text" id="txtCGST" name="txtCGST" style='width:120px; background-color:white' class="totalNew form-control" readonly>
                                </div>
                            </div>
                            <div class="row" style="text-align:right;">
                                <div class="col-md-7">
                                    <label for="SGST"> SGST</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="text" id="txtSGST" name="txtSGST" style='width:120px; background-color:white' class="totalNew form-control" readonly>
                                </div>
                            </div><br />
                            <div class="row" style="text-align:right;">
                                <div class="col-md-7">
                                    <label for="GrandTotal">Grand Total</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="text" id="txtGrandTotal" name="txtGrandTotal" style='width:120px; background-color:white' readonly class="totalNew form-control">
                                </div>
                            </div>

                            @*<div style="padding:0px 50px; text-align:right">
                                    <input type="text" id="txtTotal" name="txtTotal" style='width:120px; background-color:white' readonly class="totalNew form-control">
                                    <input type="text" id="txtdiscount" name="txtdiscount" style='width:120px; background-color:white' class="txtdiscount form-control" readonly>
                                    <input type="text" id="txtIGST" name="txtIGST" style='width:120px; background-color:white' class="totalNew form-control" readonly>
                                    <input type="text" id="txtCGST" name="txtCGST" style='width:120px; background-color:white' class="totalNew form-control" readonly>
                                    <input type="text" id="txtSGST" name="txtSGST" style='width:120px; background-color:white' class="totalNew form-control" readonly>
                                    <input type="text" id="txtGrandTotal" name="txtGrandTotal" style='width:120px; background-color:white' readonly class="totalNew form-control">
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="width:100%">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div style="padding:5px 10px; text-align:right">
                                <input id="submit" type="button" value="Save Order" class="btn btn-warning" style="padding:5px 5px" /> &nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>}
<script>
    function Remove(Count) {
        $("#R" + Count + "").remove();
        CalculateGridData();
    }
    function CalculateAmount() {
        
        var quantity = $('#OrderQty').val();
        if (parseFloat(quantity) != 0) {
            var rate = $('#Price').val();
            var tax = $('#Tax').val();
            var discount = $('#Discount').val();

            if (quantity == "" || rate == "" || tax == "" || discount == "") {
            }
            else {
                var total = parseFloat(quantity) * parseFloat(rate);
                $('#Amount').val(parseFloat(total).toFixed(2));
         //       AddData();
            }
        } else {
            toastr.warning("0 quantity not allowed....");
        };
     //   AddData();
    }
    $(document).ready(function () {
        debugger
        $("#form0").bootstrapValidator();
        $("#PurchaseOrderDate").ejDatePicker({ maxDate: new Date(), locale: "en-IN" });
        var d = new Date();
        var strDate = d.toLocaleDateString("en-IN", { day: '2-digit', month: '2-digit', year: 'numeric' });
        $("#PurchaseOrderDate").ejDatePicker("option", "value", strDate);


        $("#ExpectedDeliveryDate").ejDatePicker({ value: new Date(), minDate: new Date(), locale: "en-IN", });
        $("#P2").hide();
        if ("@ViewBag.BarcodeApplocable" == "BarcodeApplocable") {
            $("#pnlBarcode").show();
        } else {
            $("#pnlBarcode").hide();
        }

        @*if ("@ViewBag.Warehouse" == "Warehouse") {
            $("#pnlWarehouse").show();
        } else {
            $("#pnlWarehouse").hide();
        }*@

        getOrderNo();
        $("#BarcodeApplicable").click(function () {
            if ($(this).is(":checked")) {
                $("#P2").show();
                $("#P1").hide();
                $('#PRDCode').focus();
                $('#ActiveBarcode').val(true);

            } else {
                $("#P1").show();
                $("#P2").hide();
                $('#ActiveBarcode').val(false);
            }
        });
    })
    function getOrderNo() {
        $.ajax({
            type: "GET",
            url: '/POMain/getOrderNo',
            success: function (result) {
                $('#PurchaseOrderNo').val(result);
            }
        })
    }
    $(document).ready(function () {
        $('#add').click(function () {
           
            var isduplicate = "";
            var cnt = 1;
            $('#orderdetailsItems tbody tr').each(function (index, e) {
                var inputEl = $(e).children().get(0);
                var inputE2 = $(e).children().get(1);
                var CountId = $(e).children().get(8);
           //     if ($('#ProductCode').val() == inputEl.firstElementChild.value) {
                    if ($("#BarcodeApplicable").is(":checked")) {
                        var PrdName = $(e).children().get(0);
                        if ($('#ProductCode').val() == PrdName.firstElementChild.value) {
                            var CountId = $(e).children().get(8);
                            var cntt = CountId.firstElementChild.value;
                            $("#quentityNew" + parseInt(cntt) + "").val(parseFloat($("#quentityNew" + parseInt(cntt) + "").val()) + 1);
                            isduplicate = true;
                            CalculateGridData();
                        }else
                        {
                            isduplicate = false;
                        }
                } else
                    {
                        isduplicate = false;
                    }
                cnt = parseInt(cnt) + 1;
            })

            if (isduplicate == false) {
                var isValid = false;
                if ("@ViewBag.Warehouse" == "Warehouse") {
                    if ($('#Warehouse').val() == "") { toastr.error("Please Select Warehouse"); $('#Warehouse').css("border", "1px solid #e46f61"); isValid = false; } else {
                        $('#Warehouse').css("border", "1px solid #a5da6b");
                    }
                }

                if ($('#ProductCode').val() == "") { toastr.error("Please Select Product Name"); $('#ProductCode').css("border", "1px solid #e46f61"); isValid = false; } else { $('#ProductCode').css("border", "1px solid #a5da6b");  }
                if ($('#OrderQty').val() == "") { toastr.error("Please Enter Quantity"); $('#OrderQty').css("border", "1px solid #e46f61"); isValid = false; } else { $('#OrderQty').css("border", "1px solid #a5da6b");  }
                if ($('#Price').val() == "") { toastr.error("Please Enter Price"); $('#Price').css("border", "1px solid #e46f61"); isValid = false; } else { $('#Price').css("border", "1px solid #a5da6b");  }
                if ($('#Warehouse').val() == "") { toastr.error("Please Enter Warehouse"); $('#Warehouse').css("border", "1px solid #e46f61"); isValid = false; } else { $('#Warehouse').css("border", "1px solid #a5da6b");  }
                if ($('#Tax').val() == "") { toastr.error("Please Enter Tax"); $('#Tax').css("border", "1px solid #e46f61"); isValid = false; } else { $('#Tax').css("border", "1px solid #a5da6b"); isValid = true; }
                if ($('#Discount').val() == "") { toastr.error("Please Enter Discount"); $('#Discount').css("border", "1px solid #e46f61"); isValid = false; } else { $('#Discount').css("border", "1px solid #a5da6b");  }
                if ($('#PurchaseOrderDate').val() == "") { toastr.error("Please Select Purchase Order Date"); $('#PurchaseOrderDate').css("border", "1px solid #e46f61"); isValid = false; } else { $('#PurchaseOrderDate').css("border", "1px solid #a5da6b"); }
                if ($('#ExpectedDeliveryDate').val() == "") { toastr.error("Please Select Expected Delivery Date"); $('#ExpectedDeliveryDate').css("border", "1px solid #e46f61"); isValid = false; } else { $('#ExpectedDeliveryDate').css("border", "1px solid #a5da6b"); }
                if ($('#Supplier').val() == "") { toastr.error("Please Select Supplier"); $('#Supplier').css("border", "1px solid #e46f61"); isValid = false; } else { $('#Supplier').css("border", "1px solid #a5da6b"); }
                CalculateAmount();
                if (isValid == true && $('#ProductCode').val() != "" && $('#OrderQty').val() != "" && $('#Price').val() != "" && $('#Amount').val() != "") {
                   
                    var Count = $('#Count').val();
                    //$("#orderdetailsItems").append(" <tbody> <tr id='R" + Count + "'> <td><input type='text' id='productNew" + Count + "' readonly class='productnew form-control'' /></td> <td align:'left'><input type='text' id='quentityNew" + Count + "' readonly class='quentityNew form-control'' /></td><td><input type='text' id='TaxNew" + Count + "' readonly class='TaxNew form-control'' /></td>  <td><input type='text'  id='rateNew" + Count + "'  readonly class='rateNew form-control'' /></td> <td><input type='text' id='DiscountPerNew" + Count + "' readonly class='DiscountPerNew form-control'' /></td><td> <select name='DISCIN" + Count + "' style='width:100px' id='DISCIN" + Count + "' class='DISCIN form-control'> <option value='Select'>Select</option> <option value='Rupee'>Rupee</option> <option value='Percentage'>Percentage</option></select></td> <td><input type='text' readonly id='amountNew" + Count + "'    class='amountNew form-control'' /></td><td><input type='hidden' id='CountId" + Count + "'   class='CountId form-control'' /></td> <td><input type='button' id='" + Count + "' onclick='Remove(" + Count + ")' value='Remove' style='width: 85' class='btn btn-danger' /> <input type='hidden'  id='ProductIdNew" + Count + "'    class='ProductIdNew form-control'' /><input type='hidden'  id='igstNew" + Count + "'    class='igstNew form-control'' /><input type='hidden'  id='cgstNew" + Count + "'    class='cgstNew form-control'' /><input type='hidden'  id='sgstNew" + Count + "'    class='sgstNew form-control'' /> <input type='hidden'  id='hsncodeNew" + Count + "'    class='hsncodeNew form-control'' /><input type='hidden'  id='grandTot" + Count + "'    class='grandTot form-control'' /><input type='hidden' id='DiscountNew" + Count + "' readonly class='DiscountNew form-control'' /></td></td> </tr> <tbody>");
                    $("#orderdetailsItems").append(" <tbody> <tr id='R" + Count + "'> <td><input type='text' id='productNew" + Count + "' readonly style='width:140px' class='productnew form-control'' /></td> <td align:'left'><input type='text' id='quentityNew" + Count + "' style='width:125px' readonly class='quentityNew form-control'' /></td><td><input type='text' id='TaxNew" + Count + "' style='width:125px'  readonly class='TaxNew form-control'' /></td>  <td><input type='text'  id='rateNew" + Count + "' style='width:130px'   readonly class='rateNew form-control'' /></td> <td><input type='text' id='DiscountPerNew" + Count + "' style='width:125px'  readonly class='DiscountPerNew form-control'' /></td><td> <select name='DISCIN" + Count + "' style='width:90px' id='DISCIN" + Count + "' class='DISCIN form-control'> <option value='Select'>Select</option> <option value='Rupee'>Rupee</option> <option value='Percentage'>Percentage</option></select></td> <td><input type='text' readonly id='amountNew" + Count + "'   style='width:130px'   class='amountNew form-control'' /></td> <td><input type='button' id='" + Count + "' onclick='Remove(" + Count + ")' value='Remove' style='width: 65px' class='btn btn-danger' /> <input type='hidden'  id='ProductIdNew" + Count + "'    class='ProductIdNew form-control'' /><input type='hidden'  id='igstNew" + Count + "'    class='igstNew form-control'' /><input type='hidden'  id='cgstNew" + Count + "'    class='cgstNew form-control'' /><input type='hidden'  id='sgstNew" + Count + "'    class='sgstNew form-control'' /> <input type='hidden'  id='hsncodeNew" + Count + "'    class='hsncodeNew form-control'' /><input type='hidden'  id='grandTot" + Count + "'    class='grandTot form-control'' /><input type='hidden' id='DiscountNew" + Count + "' readonly class='DiscountNew form-control'' /></td><td><input type='hidden' id='CountId" + Count + "'   class='CountId form-control' /></td> </tr> <tbody>");
                    $("#quentityNew" + Count + "").val($('#OrderQty').val());
                    $("#rateNew" + Count + "").val($('#Price').val());
                    $("#TaxNew" + Count + "").val($('#Tax').val());
                    $("#DiscountPerNew" + Count + "").val($('#Discount').val());
                    $("#amountNew" + Count + "").val(parseFloat($('#Amount').val()).toFixed(2));

                    $("#productNew" + Count + "").val($('#ProductCode').val());
                    $("#ProductIdNew" + Count + "").val($('#ProductId').val());
                    $("#hsncodeNew" + Count + "").val($('#hsncode').val());
                    $("#CountId" + Count + "").val(Count);
                    $("#DISCIN" + Count + "").val($('#discIn').val());

                    $('#OrderQty').css("border", "1px solid #d2d6de");
                    $('#Price').css("border", "1px solid #d2d6de");
                    $('#Amount').css("border", "1px solid #d2d6de");
                    $('#Tax').css("border", "1px solid #d2d6de");
                    $('#Discount').css("border", "1px solid #d2d6de");
                    $('#ProductCode').css("border", "1px solid #d2d6de");
                    $('#Warehouse').css("border", "1px solid #d2d6de");


                    CalculateGridData();

                    $('#Count').val(parseInt($('#Count').val()) + 1)
                }
            }
        });
        $('#submit').click(function () {
            debugger
            if ($('#PurchaseOrderDate').val() == "" || $('#ExpectedDeliveryDate').val() == "" || $('#Warehouse').val() == "") {
                if ($('#PurchaseOrderDate').val() == "") { $('#PurchaseOrderDate').css("border", "1px solid #e46f61"); } else { $('#PurchaseOrderDate').css("border", "1px solid #a5da6b"); }
                if ($('#ExpectedDeliveryDate').val() == "") { $('#ExpectedDeliveryDate').css("border", "1px solid #e46f61"); } else { $('#ExpectedDeliveryDate').css("border", "1px solid #a5da6b"); }
                if ($('#Warehouse').val() == "") { $('#Warehouse').css("border", "1px solid #e46f61"); } else { $('#Warehouse').css("border", "1px solid #a5da6b"); }
            } else {
                var rowCount = $('#orderdetailsItems tr').length;
                if (rowCount > 0) {
                    var isAllValid = true;
                    $('#orderItemError').text('');
                    var list = [];
                    var errorItemCount = 0;
                    var Purchasedate = $('#PurchaseOrderDate').val();
                    var datearray = Purchasedate.split("/");
                    var Orderdt = datearray[1] + '/' + datearray[0] + '/' + datearray[2];
                    var ExpectedDelDate = $('#ExpectedDeliveryDate').val();
                    var datearray = ExpectedDelDate.split("/");
                    var Expdt = datearray[1] + '/' + datearray[0] + '/' + datearray[2];
                    $('#orderdetailsItems tbody tr').each(function (index, ele) {
                        if (($('.ProductIdNew', this).val() || "") == "" ||
                            $('.TaxNew', this).val() == "" ||
                             $('.rateNew', this).val() == "" ||
                             $('.DiscountNew', this).val() == "" ||
                             $('.amountNew', this).val() == "" ||
                            isNaN($('.rateNew', this).val())) {
                            isAllValid = false;
                            errorItemCount++;
                            $(this).addClass('error');
                        } else {
                            var orderItem = {
                                ProductCode: $('.ProductIdNew', this).val(),
                                GSTPercentage: $('.TaxNew', this).val(),
                                Price: $('.rateNew', this).val(),
                                Discount: $('.DiscountNew', this).val(),
                                DiscountPercent: $('.DiscountPerNew', this).val(),
                                HSNCode: $('.hsncodeNew', this).val(),
                                OrderQty: $('.quentityNew', this).val(),
                                CGSTAmount: $('.cgstNew', this).val(),
                                SGSTAmount: $('.sgstNew', this).val(),
                                IGSTAmount: $('.igstNew', this).val(),
                                AmountNew: $('.amountNew', this).val(),
                                TotAmount: $('.grandTot', this).val(),
                                DiscountAs: $('.DISCIN', this).val(),
                                NetAmount: $('#txtTotal').val(),
                                SupplierID: $('#VenderId').val(),
                                WarehouseId: $('#WarehouseId').val(),
                                IGST: $('#txtIGST').val(),
                                CGST: $('#txtCGST').val(),
                                SGST: $('#txtSGST').val(),
                                DiscountAmount: $('#txtdiscount').val(),
                                TotalAmount: $('#txtGrandTotal').val(),
                                PurchaseOrderNo: $('#PurchaseOrderNo').val(),
                                PurchaseOrderDate: Orderdt,
                                ExpectedDeliveryDate: Expdt,
                                BarcodeApplicable: $('#ActiveBarcode').val(),
                            }
                            list.push(orderItem);

                        }
                    })

                    if (isAllValid) {
                        var data = {
                            OrderDetails: list
                        }
                        $(this).val('Please wait...');
                        $.ajax({
                            type: 'POST',
                            url: '/POMain/save',
                            data: JSON.stringify(data),
                            contentType: 'application/json',
                            success: function (data) {
                                debugger
                                if (data.status) {
                             
                            
                                    var newWindow = window.open();
                                    newWindow.location.href = "/POMain/GetReport";
                                    window.location.href = "/POMain/Index";
                                    //window.location.href = "/POMain/GetReport", '_blank';
                               
                                }
                                else {
                                    toastr.error("something Wrong..");
                                }
                                //   $('#submit').val('Save');
                            },
                            error: function (error) {
                                console.log(error);
                                $('#submit').val('Save');
                            }
                        });
                    }
                } else {
                    toastr.error("please add data to list.");
                }
            }
        });
    });
    function CalculateGridData()
    {
        //if ($('#txtTotal').val() == "") {
            $('#txtTotal').val(0);
            $('#txtIGST').val(0);
            $('#txtCGST').val(0);
            $('#txtSGST').val(0);
            $('#txtGrandTotal').val(0);
            $('#txtdiscount').val(0);
        //}
        $('#orderdetailsItems tbody tr').each(function (index, e) {

            var PrdName = $(e).children().get(0);
            var Quentity = $(e).children().get(1);
            var Tax = $(e).children().get(2);
            var Rate = $(e).children().get(3);
            var Discount = $(e).children().get(4);
            var DiscIn = $(e).children().get(5);
            var Amount = $(e).children().get(6);
            var CountId = $(e).children().get(8);



                var qty = Quentity.firstElementChild.value;
                var tax = Tax.firstElementChild.value;
                var rate = Rate.firstElementChild.value;
                var disc = Discount.firstElementChild.value;
                var discIn = DiscIn.firstElementChild.value;
                var amount = Amount.firstElementChild.value;
                var cntt = CountId.firstElementChild.value;

                var quantity = $("#quentityNew" + parseInt(cntt) + "").val();

                var Amt = parseFloat(rate) * parseFloat(quantity);
                $("#amountNew" + parseInt(cntt) + "").val(Amt)
                $('#txtTotal').val((parseFloat($('#txtTotal').val()) + parseFloat($("#amountNew" + parseInt(cntt) + "").val())).toFixed(2));

                var discAmt = 0;
                if (discIn == "Rupee") { discAmt = parseFloat(disc) * parseFloat(quantity); $("#DiscountNew" + cntt + "").val(discAmt); } else {
                    discAmt = (parseFloat(disc) * parseFloat(Amt) / 100);
                    $("#DiscountNew" + cntt + "").val(discAmt);
                }
                $('#txtdiscount').val((parseFloat($('#txtdiscount').val()) + parseFloat( $("#DiscountNew" + cntt + "").val())).toFixed(2));

                var Tamount = parseFloat(Amt) - parseFloat(discAmt);

                //add IGST Amount
                $("#igstNew" + cntt + "").val(0);
                $("#igstNew" + cntt + "").val(0);
                $("#igstNew" + cntt + "").val(0);
                var gstamt = ((parseFloat(Tamount) * parseFloat(tax)) / 100).toFixed(2);
                if ($('#isIGST').val() != "true") {
                    var igst = (parseFloat(gstamt) / 2);
                    $("#cgstNew" + cntt + "").val(igst);
                    $("#sgstNew" + cntt + "").val(igst);
                    $('#txtCGST').val((parseFloat($('#txtCGST').val()) + parseFloat(igst)).toFixed(2));
                    $('#txtSGST').val((parseFloat($('#txtSGST').val()) + parseFloat(igst)).toFixed(2));
                } else {
                    $("#igstNew" + cntt + "").val(gstamt);
                    $('#txtIGST').val((parseFloat($('#txtIGST').val()) + parseFloat(gstamt)).toFixed(2));
                }

                // Add Grand Amount
                $("#grandTot" + cntt + "").val(parseFloat(Tamount) + parseFloat(gstamt));
                var totAmount =(((parseFloat($('#txtTotal').val()) - parseFloat($('#txtdiscount').val())) + parseFloat($('#txtIGST').val()) + parseFloat($('#txtCGST').val()) + parseFloat($('#txtSGST').val()))).toFixed(2);
                $('#txtGrandTotal').val(parseFloat(totAmount).toFixed(2));

        })
        $('#OrderQty').val('');
        $('#Price').val('');
        $('#Amount').val('');
        $('#Tax').val('');
        $('#Discount').val('');
        $('#ProductCode').val('');
        $('#DiscountIn').val('');
        $('#ProductId').val('');
        $('#PRDCode').val('');
    }
    function getProductData(Product) {
        debugger
        var ProductId = "";
        if ($("#BarcodeApplicable").is(":checked"))
        {
            ProductId = $('#PRDCode').val();
            $("#OrderQty").prop('disabled', true);
            ($("#OrderQty").val() == "")
            {
                $("#OrderQty").val(0);
            }
        } else
        {
            ProductId = Product.key;
            $("#OrderQty").prop('disabled', false);
        }
        $('#ProductId').val(ProductId);
      //  $('#OrderQty').val('');
        $('#Price').val('');
        $('#Amount').val('');
        $('#Tax').val('');
        $('#Discount').val('');
        var cnt = 1;
        var isduplicate = false;
        $('#orderdetailsItems tbody tr').each(function (index, e) {
            var inputEl = $(e).children().get(0);
            var Qty = $(e).children().get(1);

            if ($('#ProductCode').val() == inputEl.firstElementChild.value) {
                    $('#ProductCode').val('');
                    $('#OrderQty').val('');
                    $('#Price').val('');
                    $('#Amount').val('');
                    $('#Tax').val('');
                    $('#Discount').val('');
                    toastr.warning("product already added");
                    isduplicate = true;
            }
            cnt = parseInt(cnt) + 1;
        })
        if (isduplicate == false) {

            if (ProductId != "") {
                $.ajax({
                    type: "GET",
                    url: '/POMain/getProductData',
                    data: { 'productId': ProductId, 'supplierId': $('#VenderId').val() },
                    success: function (result) {
                        
                      
                        $('#Price').val(result.ProductPrice);
                        $('#Discount').val(result.Discount);
                        $('#discIn').val(result.DiscountIn);
                        $('#Tax').val(result.Tax);
                        if ($("#BarcodeApplicable").is(":checked")) {
                            $('#PRDCode').val('');
                            $('#PRDCode').focus();
                            $("#OrderQty").val(parseFloat($("#OrderQty").val()) + 1);
                            $('#ProductCode').val(result.ProductName);
                        } else {
                            $('#OrderQty').val('');
                            $('#OrderQty').focus();
                        }                      
                        getTax();
                    }
                })
            }
        }
    }
    function getWarehouseId(id) {
        $('#WarehouseId').val(id.key);
    };
    function getTax() {
        if ($('#ProductId').val() != null) {
            $.ajax({
                type: "GET",
                url: '/POMain/getTax',
                data: { 'ProductId':  $('#ProductId').val() },
                success: function (result) {
                    $('#Tax').val(result.TaxPercent);
                    $('#hsncode').val(result.HSNCode);
                 //   CalculateAmount();
                  //  AddData();
                    if ($("#BarcodeApplicable").is(":checked")) {
                        $('#PRDCode').focus();
                        CalculateAmount();

                    }

                }
            })
        }
    }
    function getProducts(SupplierId) {
        $('#VenderId').val(SupplierId.key); if (SupplierId.key != "") {
            $('#ProductCode').val(''); $('#OrderQty').val(''); $('#Tax').val(''); $('#Price').val(''); $('#Amount').val(''); $('#txtTotal').val(''); $('#txtIGST').val(''); $('#txtCGST').val(''); $('#txtSGST').val(''); $('#txtdiscount').val(''); $('#txtGrandTotal').val(''); $('#orderdetailsItems').empty();
            $.ajax({
                type: "GET",
                url: '/POMain/getProducts',
                data: { 'SupplierId': SupplierId.key },
                success: function (data) {
                    var ViewBackData = data;

                    if (data.length == "0") {
                        $('#ProductCode').ejAutocomplete({ dataSource: ViewBackData, fields: { key: "", text: "" }, EnablePersistence: false, ShowPopupButton: true, width: 200, });
                    } else {

                        $('<option></option>').val(null).html('Select');
                        $.each(data, function (i, data) {
                            $('#ProductCode').ejAutocomplete({ dataSource: ViewBackData, fields: { key: "ProductCode", text: "ProductName" }, EnablePersistence: false, ShowPopupButton: true, width: "100%", });
                        });
                    }
                }
            })
        }
    }
    function isIGST(id) {
        if ($('#VenderId').val() != "") {
            $.ajax({
                type: "GET",
                url: '/POMain/isIGST',
                data: { 'spid': $('#VenderId').val() },
                success: function (result) {

                    $('#isIGST').val(result);
                }
            })
        }
    }
    function AddData()
    {
            var isduplicate = "";
            var cnt = 1;
            $('#orderdetailsItems tbody tr').each(function (index, e) {
                var inputEl = $(e).children().get(0);
                var inputE2 = $(e).children().get(1);
                var CountId = $(e).children().get(8);          
                    if ($("#BarcodeApplicable").is(":checked")) {
                        var PrdName = $(e).children().get(0);
                        if ($('#ProductCode').val() == PrdName.firstElementChild.value) {
                            var CountId = $(e).children().get(8);
                            var cntt = CountId.firstElementChild.value;
                            $("#quentityNew" + parseInt(cntt) + "").val(parseFloat($("#quentityNew" + parseInt(cntt) + "").val()) + 1);
                            isduplicate = true;
                            CalculateGridData();
                        }else
                        {
                            isduplicate = false;
                        }
                } else
                    {
                        isduplicate = false;
                    }
                cnt = parseInt(cnt) + 1;
            })

            if (isduplicate == false) {
                var isValid = true;              
        }
        if ($('#Warehouse').val() == "") {    /* toastr.error("Please Select Warehouse"); $('#Warehouse').css("border", "1px solid #e46f61");*/ isValid = false; } else { $('#Warehouse').css("border", "1px solid #a5da6b"); }
                if ($('#ProductCode').val() == "") { /*toastr.error("Please Select Product Name"); $('#ProductCode').css("border", "1px solid #e46f61");*/ isValid = false; } else { $('#ProductCode').css("border", "1px solid #a5da6b"); }
                if ($('#OrderQty').val() == "") { /*toastr.error("Please Enter Quantity"); $('#OrderQty').css("border", "1px solid #e46f61"); isValid = false;*/ } else { $('#OrderQty').css("border", "1px solid #a5da6b");  }
                if ($('#Price').val() == "") { /*toastr.error("Please Enter Price"); $('#Price').css("border", "1px solid #e46f61"); isValid = false;*/ } else { $('#Price').css("border", "1px solid #a5da6b");  }
                if ($('#Amount').val() == "") { /*toastr.error("Please Enter Amount"); $('#Amount').css("border", "1px solid #e46f61"); isValid = false;*/ } else { $('#Amount').css("border", "1px solid #a5da6b");  }
        if ($('#Tax').val() == "") { /*toastr.error("Please Enter Tax"); $('#Tax').css("border", "1px solid #e46f61"); isValid = false;*/ isValid = false;} else { $('#Tax').css("border", "1px solid #a5da6b");  }
                if ($('#Discount').val() == "") { /*toastr.error("Please Enter Discount"); $('#Discount').css("border", "1px solid #e46f61"); isValid = false;*/ } else { $('#Discount').css("border", "1px solid #a5da6b"); }
                if ($('#PurchaseOrderDate').val() == "") { /*toastr.error("Please Select Purchase Order Date"); $('#PurchaseOrderDate').css("border", "1px solid #e46f61");*/ isValid = false; } else { $('#PurchaseOrderDate').css("border", "1px solid #a5da6b"); }
                if ($('#ExpectedDeliveryDate').val() == "") { /*toastr.error("Please Select Expected Delivery Date"); $('#ExpectedDeliveryDate').css("border", "1px solid #e46f61"); */isValid = false; } else { $('#ExpectedDeliveryDate').css("border", "1px solid #a5da6b"); }
                if ($('#Supplier').val() == "") { /*toastr.error("Please Select Supplier"); $('#Supplier').css("border", "1px solid #e46f61");*/ isValid = false; } else { $('#Supplier').css("border", "1px solid #a5da6b"); }

                if (isValid == true ) {
                    var Count = $('#Count').val();
                    $("#orderdetailsItems").append(" <tbody> <tr id='R" + Count + "'> <td><input type='text' id='productNew" + Count + "' readonly style='width:140px' class='productnew form-control'' /></td> <td align:'left'><input type='text' id='quentityNew" + Count + "' style='width:125px' readonly class='quentityNew form-control'' /></td><td><input type='text' id='TaxNew" + Count + "' style='width:125px'  readonly class='TaxNew form-control'' /></td>  <td><input type='text'  id='rateNew" + Count + "' style='width:130px'   readonly class='rateNew form-control'' /></td> <td><input type='text' id='DiscountPerNew" + Count + "' style='width:125px'  readonly class='DiscountPerNew form-control'' /></td><td> <select name='DISCIN" + Count + "' style='width:90px' id='DISCIN" + Count + "' class='DISCIN form-control'> <option value='Select'>Select</option> <option value='Rupee'>Rupee</option> <option value='Percentage'>Percentage</option></select></td> <td><input type='text' readonly id='amountNew" + Count + "'   style='width:130px'   class='amountNew form-control'' /></td> <td><input type='button' id='" + Count + "' onclick='Remove(" + Count + ")' value='Remove' style='width: 65px' class='btn btn-danger' /> <input type='hidden'  id='ProductIdNew" + Count + "'    class='ProductIdNew form-control'' /><input type='hidden'  id='igstNew" + Count + "'    class='igstNew form-control'' /><input type='hidden'  id='cgstNew" + Count + "'    class='cgstNew form-control'' /><input type='hidden'  id='sgstNew" + Count + "'    class='sgstNew form-control'' /> <input type='hidden'  id='hsncodeNew" + Count + "'    class='hsncodeNew form-control'' /><input type='hidden'  id='grandTot" + Count + "'    class='grandTot form-control'' /><input type='hidden' id='DiscountNew" + Count + "' readonly class='DiscountNew form-control'' /></td><td><input type='hidden' id='CountId" + Count + "'   class='CountId form-control' /></td> </tr> <tbody>");
                    $("#quentityNew" + Count + "").val($('#OrderQty').val());
                    $("#rateNew" + Count + "").val($('#Price').val());
                    $("#TaxNew" + Count + "").val($('#Tax').val());
                    $("#DiscountPerNew" + Count + "").val($('#Discount').val());
                    $("#amountNew" + Count + "").val($('#Amount').val());
                    $("#productNew" + Count + "").val($('#ProductCode').val());
                    $("#ProductIdNew" + Count + "").val($('#ProductId').val());
                    $("#hsncodeNew" + Count + "").val($('#hsncode').val());
                    $("#CountId" + Count + "").val(Count);
                    $("#DISCIN" + Count + "").val($('#discIn').val());
                    $('#OrderQty').css("border", "1px solid #d2d6de");
                    $('#Price').css("border", "1px solid #d2d6de");
                    $('#Amount').css("border", "1px solid #d2d6de");
                    $('#Tax').css("border", "1px solid #d2d6de");
                    $('#Discount').css("border", "1px solid #d2d6de");
                    $('#ProductCode').css("border", "1px solid #d2d6de");
                    $('#Warehouse').css("border", "1px solid #d2d6de");
                    $('#Count').val(parseInt($('#Count').val()) + 1)
                    CalculateGridData();
                }
            }

</script>